body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header {
  padding: 6px 1px;
  background:   #adad85;
  background-color:  #cdcdb1;
}
.btn {
  margin-top: 1px;
    margin-right:5px ;
    background-color: transparent;
    float:right;
}

.btn1 {
  margin-top: 1px;
  margin-right: 5px;
  background-color: transparent;
  float: right;

}

.btn3 {
  margin-top: 1px;
  margin-right: 5px;
  background-color: transparent;
  float: right;

}
.btn2 {
margin-top: 1px;
margin-left: 43%;
background-color: transparent;




}
.header.btn1 {
    margin-top: 10%;
    margin-right: 3%;
    background-color: transparent;
    float: right;
}

.content {
  padding: 16px;

  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.audiocenter{
    display:flex;
    justify-content: center;
    align-items: center;
    color: #c40d0d !important;
  }


   .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 20px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 25px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
  
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    #main {
      transition: margin-left .5s;
      padding: 16px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 10px;}
      .sidenav a {font-size: 17px;}
    }
   
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       height:1.3cm;
       width: 100%;
      background-color: #f1f1f1;
      }

 


    div.scrollmenu {
      background-color:  #cdcdb1;
      overflow: auto;
      white-space: nowrap;
      display: block;
      font-family: Calibri;
      
    
    }
    
    div.scrollmenu a {
      object-position: center;
      display:inline-block;
      color: rgba(255, 0, 0, 0.582);
      text-align: center;
      padding: 8px;
      text-decoration: none;
    
    }
    
    div.scrollmenu a:hover {
      background-color: #777;
    }

    .sidepanel1  {
      width: 0;
      position: fixed;
      z-index: 1;
      height: 100%;
      top: 0px;
      right: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    
    }
    
    .sidepanel1 a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color:#818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidepanel1 a:hover {
      color: #f2f2f2;
    }
    
    .sidepanel1 .closebtn1 {
      position: absolute;
      top: 0;
      height: 0.3cm;
      width: 0.3cm;
      right: 10px;
      font-size: 24px;
    }
    
    .openbtn1 {
      float: right;
      font-size: 20px;
      cursor: pointer;
      background-color: transparent;
      color: white;
      right: 0;
      padding: 10px 5px;
      border: none;
    }
    
    .openbtn1:hover {
      background-color:rgb(236, 223, 223);
    }


