element.style {

}

canvas Attributes Style {
    aspect-ratio: auto 1522 / 5000;
}

#NOTEPAD {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 2147483647 !important;
    pointer-events: auto !important;
    background: transparent !important;
}
#NOTEPAD, #NOTEPAD div, #NOTEPAD span, #NOTEPAD applet, #NOTEPAD object, #NOTEPAD iframe, #NOTEPAD h1, #NOTEPAD h2, #NOTEPAD h3, 
#NOTEPAD h4, #NOTEPAD h5, #NOTEPAD h6, #NOTEPAD p, #NOTEPAD blockquote, #NOTEPAD pre, #NOTEPAD a, #NOTEPAD abbr, #NOTEPAD acronym,
 #NOTEPAD address, #NOTEPAD big, #NOTEPAD cite, #NOTEPAD code, #NOTEPAD del, #NOTEPAD dfn, #NOTEPAD em, #NOTEPAD img,
  #NOTEPAD ins, #NOTEPAD kbd, #NOTEPAD q, #NOTEPAD s, #NOTEPAD samp, #NOTEPAD small, #NOTEPAD strike, #NOTEPAD strong,
   #NOTEPAD sub, #NOTEPAD sup, #NOTEPAD tt, #NOTEPAD var, #NOTEPAD b, #NOTEPAD u, #NOTEPAD i, #NOTEPAD center, 
   #NOTEPAD dl, #NOTEPAD dt, #NOTEPAD dd, #NOTEPAD ol, #NOTEPAD ul, #NOTEPAD li, #NOTEPAD fieldset, #NOTEPAD form,
    #NOTEPAD label, #NOTEPAD legend, #NOTEPAD table, #NOTEPAD caption, #NOTEPAD tbody, #NOTEPAD tfoot, #NOTEPAD thead,
     #NOTEPAD tr, #NOTEPAD th, #NOTEPAD td, #NOTEPAD article, #NOTEPAD aside, #NOTEPAD canvas, #NOTEPAD details, #NOTEPAD embed, 
     #NOTEPAD figure, #NOTEPAD figcaption, #NOTEPAD footer, #NOTEPAD header, #NOTEPAD hgroup, #NOTEPAD menu, #NOTEPAD nav, #NOTEPAD output, 
     #NOTEPAD ruby, #NOTEPAD section, #NOTEPAD summary, #NOTEPAD time, #NOTEPAD mark, #NOTEPAD audio,
      #NOTEPAD video {
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit;
}

body {
    font: 16px Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 22px;
    color: #001320;
    background-color: transparent;
    text-align: justify;
    background: url(leftbk3.png), url(rtbk3.png), #ffffff;
    background-repeat: no-repeat, no-repeat;
    background-position: left 44%, right 44%;
    background-attachment: fixed, fixed;
}
#NOTEPAD_controls {
    display: flex;
    top: 2px;
    right: 5px;
    opacity: 0;
    align-items: flex-start !important;
    position: fixed !important;
    width: 585px !important;
    height: 111px !important;
    padding-left: 5px !important;
    font-family: arial, helvetica, sans-serif !important;
    z-index: 2147483647 !important;
    background-color: rgb(243, 243, 244) !important;
    background-clip: padding-box !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 10px !important;
    font-size: initial !important;
    vertical-align: baseline !important;
    box-sizing: border-box !important;
    line-height: normal !important;
    color: rgb(0, 0, 0) !important;
    cursor: move !important;
    margin: 0px !important;
    animation: 0.3s ease 0s 1 normal forwards running controlFadingIn !important;
    border-width: 3px !important;
    border-style: solid !important;
    border-color: rgb(255, 255, 255) !important;
    border-image: initial !important;
}

#NOTEPAD_controls .settings_btn {
    left: 245px;
    width: 40px;
    background-image: url("eyedropper_icon.svg");
    z-index: 1000;
    position: absolute !important;
    top: 60px !important;
    height: 40px !important;
    background-size: 30px 30px !important;
    cursor: pointer !important;
    border-radius: 3px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
#NOTEPAD_controls div {
    box-sizing: border-box !important;
    line-height: normal !important;
}
div {
    display: block;
}


#NOTEPAD_controls .NOTEPAD_controls_draw {
    position: relative !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-content: flex-start !important;
    width: 281px !important;
    height: 124px !important;
    padding-top: 20px !important;
    margin-right: 7px !important;
}
#NOTEPAD_controls .NOTEPAD_controls_draw::before {
    content: "Tools";
    position: absolute !important;
    left: 50% !important;
    top: 0px !important;
    transform: translateX(-20px) !important;
    display: block !important;
    text-align: center !important;
    font-size: 12px !important;
    padding-bottom: 3px !important;
    margin-top: 5px !important;
    font-family: "Oxygen Regular", sans-serif !important;
    line-height: 1 !important;
}

#NOTEPAD_controls .NOTEPAD_controls_draw .NOTEPAD_controls_draw_option {
    box-sizing: border-box;
    width: 40px !important;
    height: 40px !important;
    display: inline-block !important;
    cursor: pointer !important;
    border-radius: 3px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

#NOTEPAD_controls .NOTEPAD_controls_draw .NOTEPAD_controls_draw_option.selected {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(76, 101, 127, 0.2) 0px 2px 4px 0px !important;
}

#NOTEPAD_controls .NOTEPAD_controls_draw .NOTEPAD_controls_draw_option.pen {
    background-image: url("pen_icon.svg");
    background-size: 30px 30px !important;
}

#NOTEPAD_controls .NOTEPAD_controls_draw .NOTEPAD_controls_draw_option.eyedropper {
    background-image: url("eyedropper_icon.svg");
    
}

#NOTEPAD_controls .NOTEPAD_controls_draw .NOTEPAD_controls_draw_option.text {
    background-image: url("text_icon.svg");
}

#NOTEPAD_controls .NOTEPAD_controls_draw .NOTEPAD_controls_draw_option.line {
    background-image: url("line_icon.svg");
}

#NOTEPAD_controls .NOTEPAD_controls_draw .NOTEPAD_controls_draw_option.arrow {
    background-image: url("arrow_line_icon.svg");
}

#NOTEPAD_controls .NOTEPAD_controls_draw .NOTEPAD_controls_draw_option.quadratic_curve {
    background-image: url("quadratic_curve_icon.svg");
}

#NOTEPAD_controls .NOTEPAD_controls_draw .NOTEPAD_controls_draw_option.bezier_curve {
    background-image: url("bezier_curve_icon.svg");
}

#NOTEPAD_controls .NOTEPAD_controls_draw .NOTEPAD_controls_draw_option.polygon {
    background-image: url("polygon_icon.svg");
}

#NOTEPAD_controls .NOTEPAD_controls_draw .NOTEPAD_controls_draw_option.circle {
    background-image: url("circle_icon.svg");
}

#NOTEPAD_controls .NOTEPAD_controls_draw .NOTEPAD_controls_draw_option.rectangle {
    background-image: url("rectangle_icon.svg");
}

#NOTEPAD_controls .NOTEPAD_controls_draw .NOTEPAD_controls_draw_option.cursor {
    background-image: url("cursor_icon.svg");
}

#NOTEPAD_controls .NOTEPAD_controls_draw .NOTEPAD_controls_draw_option.eraser {
    background-image: url("eraser_icon.svg");
}

#NOTEPAD_controls .NOTEPAD_controls_draw .NOTEPAD_controls_draw_option.fill {
    background-image: url("fill_icon.svg");
}

#NOTEPAD_controls .NOTEPAD_controls_color {
    display: inline-block !important;
    vertical-align: top !important;
    height: 111px !important;
    padding: 0px 10px !important;
    border-width: 0px 1px !important;
    border-style: solid solid !important;
    border-image: linear-gradient(rgba(229, 231, 233, 0) 5%, rgb(173, 178, 182) 71%, rgba(229, 231, 233, 0) 90%) 1 100% / 1 / 0 stretch !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}

#NOTEPAD_controls .NOTEPAD_controls_color::before {
    content: "Color";
    display: block !important;
    padding-bottom: 5px !important;
    margin-top: 5px !important;
    text-align: center !important;
    font-size: 12px !important;
    font-family: "Oxygen Regular", sans-serif !important;
    line-height: 1 !important;
}

#NOTEPAD_controls .NOTEPAD_controls_color input[type="color"] {
    appearance: none !important;
}

#NOTEPAD_controls .NOTEPAD_controls_color input {
    width: 41px !important;
    height: 75px !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    appearance: none !important;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(221, 223, 225, 0.004) 0px 2px 4px 0px !important;
    padding: 0px !important;
    margin: 2px 0px 0px !important;
    border-width: initial !important;
    border-style: none !important;
    border-color: initial !important;
    border-image: initial !important;
    border-radius: 5px !important;
    outline: none !important;
}

#NOTEPAD_controls input {
    height: auto !important;
}

input[type="color" i] {
    appearance: auto;
    width: 44px;
    height: 23px;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    cursor: default;
    color: -internal-light-dark(black, white);
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 1px 2px;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.NOTEPAD_controls_range_wrapper {
    display: inline-flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    width: 91px !important;
    height: 111px !important;
    overflow-wrap: normal !important;
}

#NOTEPAD_controls .NOTEPAD_controls_range.alpha_control::before {
    content: "Transparency";
    display: block !important;
    padding-bottom: 2px !important;
    margin-top: 5px !important;
    text-align: center !important;
    font-size: 12px !important;
    font-family: "Oxygen Regular", sans-serif !important;
    line-height: 1 !important;
}

#NOTEPAD_controls .NOTEPAD_controls_range input {
    color: rgb(144, 144, 144) !important;
    box-sizing: initial !important;
    width: 70px !important;
    appearance: none !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    height: 7px !important;
    box-shadow: rgba(76, 101, 127, 0.2) 0px 2px 4px 0px !important;
    margin: 0px 0px 5px !important;
    border-width: initial !important;
    border-style: none !important;
    border-color: initial !important;
    border-image: initial !important;
    padding: 2px !important;
    border-radius: 14px !important;
    background: rgb(255, 255, 255) !important;
    outline: none !important;
}

input[type="range" i] {
    appearance: auto;
    color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
    cursor: default;
    padding: initial;
    border: initial;
    margin: 2px;
}

#NOTEPAD_controls .NOTEPAD_controls_range p {
    text-align: right !important;
    color: rgb(0, 0, 0) !important;
    font-size: 12px !important;
    font-family: "Oxygen Regular", sans-serif !important;
    margin: 0px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#NOTEPAD_controls .NOTEPAD_controls_range.size_control {
    top: 60px !important;
}

#NOTEPAD_controls .NOTEPAD_controls_range {
    display: inline-block !important;
    vertical-align: top !important;
    height: 100% !important;
    padding: 0px 10px !important;
    border-right: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    border-left: 0px !important;
}

#NOTEPAD_controls .NOTEPAD_controls_range.size_control::before {
    content: "Size";
    margin-top: 0px;
    display: block !important;
    padding-bottom: 2px !important;
    text-align: left !important;
    font-size: 12px !important;
    font-family: "Oxygen Regular", sans-serif !important;
    line-height: 1 !important;
}

#NOTEPAD_controls .NOTEPAD_controls_control {
    position: relative !important;
    display: inline-flex !important;
    align-content: flex-start !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    width: 126px !important;
    vertical-align: top !important;
    height: 111px !important;
    padding: 19px 0px 0px 4px !important;
    border-width: 0px 0px 0px 1px !important;
    border-style: solid !important;
    border-image: linear-gradient(rgba(229, 231, 233, 0) 5%, rgb(173, 178, 182) 71%, rgba(229, 231, 233, 0) 90%) 1 100% / 1 / 0 stretch !important;
    border-right: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}
#NOTEPAD_controls .NOTEPAD_controls_control::before {
    content: "Controls";
    line-height: 1;
    position: absolute !important;
    left: 50% !important;
    top: 0px !important;
    transform: translateX(-20px) !important;
    text-align: center !important;
    font-size: 12px !important;
    padding-bottom: 0px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-family: "Oxygen Regular", sans-serif !important;
}

#NOTEPAD_controls .NOTEPAD_controls_control .NOTEPAD_controls_control_option.backBtn {
    background-image: url("undo_icon.svg");
    margin-left: 0px !important;
    background-size: 28px 26px !important;
}
#NOTEPAD_controls .NOTEPAD_controls_control .NOTEPAD_controls_control_option {
    width: 40px !important;
    height: 40px !important;
    cursor: pointer !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

#NOTEPAD_controls .NOTEPAD_controls_control .NOTEPAD_controls_control_option.nextBtn.disabled {
    opacity: 0.3 !important;
}

#NOTEPAD_controls .NOTEPAD_controls_control .NOTEPAD_controls_control_option.nextBtn {
    background-image: url("next_icon.svg");
    background-size: 28px 26px !important;
}

#NOTEPAD_controls .NOTEPAD_controls_control .NOTEPAD_controls_control_option.eraseAllBtn {
    background-image: url("eraseAll_icon.svg");
}
#NOTEPAD_controls .NOTEPAD_controls_control .NOTEPAD_controls_control_option.prtBtn {
    background-image: url("screenshot_icon.svg");
    margin-left: 0px !important;
}

#NOTEPAD_controls .NOTEPAD_controls_control .NOTEPAD_controls_control_option.hideCtrlBtn {
    background-image: url("close_panel_icon.svg");
}

#NOTEPAD_controls .NOTEPAD_controls_control .NOTEPAD_controls_control_option.exitBtn {
    background-image: url("exit_icon.svg");
    background-position: center center !important;
}

#NOTEPAD.eyedropper {
    cursor: url("eyedropper_icon_b.svg") 0 0, auto;
}











