
body{
    background: url(LIGHTHOUSE.jpg) no-repeat;
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif ;
    color:transparent;
}
*
{
  margin:0px ;
  padding: 0px;
}


.dropbtn{
  overflow: visible;
  background-color: transparent;
  position: fixed;
  top: 0%;
  justify-content: center;
  width:100%;
}
.dropbtn ul{
  list-style: none;
  background-color: transparent;
  border: 3px;
  text-align: center;

text-decoration: none;

}

/* Links inside the dropbtn */
.dropbtn ul li {
  float: left;
  font-size: 20px;
  text-align: left;
  border: 5px;
  width: 180px;
  text-decoration: none;
  position: relative;

}

.dropbtn ul li a{
  text-decoration: none;
  color: black
  ;
  display: block;
}
.dropbtn ul li a:hover {
background-color: rgb(47, 114, 214);
}

.dropbtn ul ul{
  position: absolute;
display: none;
}

.dropbtn ul li:hover > ul
{
  display:inline-block;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: transparent;
  color: white;
}





