.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1380px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1250ms;
  line-height: 2;
  letter-spacing: 0px;
  margin: 168px 602px 0 19px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1250ms;
  line-height: 2;
  letter-spacing: 0px;
  margin: -760px 25px 0 595px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-widget-1 {
  min-height: 228px;
  width: 1103px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  color: rgb(235, 186, 22) !important;
  margin: -126px auto 60px 108px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2007px;
  }

  .u-section-1 .u-text-1 {
    width: 670px;
    margin-left: 0;
    margin-right: 420px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 420px;
    margin-left: 0;
  }

  .u-section-1 .u-widget-1 {
    width: 570px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1380px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 60px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 60px;
    margin-left: 100px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 20px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 28px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 28px;
    margin-left: 0;
  }

  .u-section-1 .u-widget-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2107px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-widget-1 {
    width: 340px;
  }
}